:root {
  --vp-c-bg: #fff;
  --vp-c-text-3: rgba(60, 60, 67, 0.62);
}

.dark {
  --vp-c-bg: #111;
  --vp-c-text-3: rgba(235, 235, 245, 0.44);
}

:root {
  /* 平滑滚动 */
  scroll-behavior: smooth;

  /* 滚动条 */
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--vp-c-default-2) transparent;
}

body {
  -webkit-font-smoothing: antialiased;
}

.font-bold {
  letter-spacing: -0.01em;
}

/* a */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* .vp-doc */

.vp-doc a {
  font-weight: normal;
  color: var(--vp-c-text-1);
}

.vp-doc a:hover {
  color: var(--vp-c-text-1);
}